
  <nav class="navbar">
    <div class="logo">
      <img src="../../../assets/logo.svg" alt="Logo Cine.AI" class="logo-img" />
    </div>

    <div class="nav-right">
      <div class="menu">
        <a routerLink="/home" href="/home">Home</a>
        <a routerLink="/avaliacoes" href="/avaliacoes">Avaliações</a>
        <a class="active" routerLink="/indicacoes" href="/indicacoes">Indicações</a>
        <a (click)="logout()">Sair</a>
      </div>
    </div>
  </nav>

  <section>
    <h2>Filmes com maior match para seu perfil:</h2>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let filme of filmesIndicados" (click)="abrirPopup(filme)"
    [ngStyle]="{'background-image': 'url(' + 'https://image.tmdb.org/t/p/w500' + filme.caminho_poster + ')', 'background-size': 'cover', 'background-position': 'center'}">
      <!-- conteúdo do card -->></div>
    </div>
  </section>

  <section>
    <h2>Filmes com seu gênero favorito:</h2>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let filme of filmesGeneros" (click)="abrirPopup(filme)"
    [ngStyle]="{'background-image': 'url(' + 'https://image.tmdb.org/t/p/w500' + filme.caminho_poster + ')', 'background-size': 'cover', 'background-position': 'center'}"></div>
    </div>
  </section>

  <section>
    <h2>Mais indicações relacionadas:</h2>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let filme of filmesTops" (click)="abrirPopup(filme)"
        [ngStyle]="{'background-image': 'url(' + 'https://image.tmdb.org/t/p/w500' + filme.caminho_poster + ')', 
        'background-size': 'cover', 'background-position': 'center'}">
      </div>
    </div>
  </section>

  <app-filme-popup #popup></app-filme-popup>
