html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2c2a2a;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #363333;
  border-bottom: 1px solid #444;
}

.logo-img {
  height: 24px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  position: relative;
  transition: color 0.2s;
  cursor: pointer; 
}

.menu a:focus {
  outline: none; 
}

.menu a.active,
.menu a:hover {
  color: #d26bff;
}


.profile-circle {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}

.search-container input {
  padding: 12px 16px;
  width: 420px;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #444;
  color: white;
  font-size: 15px;
}

.search-btn {
  padding: 12px 16px;
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  transition: background-color 0.3s;
}

.main-banner {
  width: 80%;
  margin: 0 auto 50px;
  height: 260px;
  background-image: url('../../../assets/Banner\ 3.jpg');
  background-size: cover; 
  background-position: center;
  border-radius: 8px;
}

h3.section-title {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 18px 10%;
}

.card-row-scroll {
  display: flex;
  gap: 18px;
  margin: 0 10% 50px;
  padding: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.card-row-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  width: 130px;
  height: 180px;
  background-color: #c4c4c4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}


.card {
  flex: 0 0 auto; /* ✅ Impede quebra dentro do flex */
  min-width: 200px;
  height: 300px;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}


.scroll-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  padding: 0 1rem;
  color: #444;
}

.scroll-btn.left {
  margin-right: -2rem;
}

.scroll-btn.right {
  margin-left: -2rem;
}

.card:hover {
  border-radius: 10px;
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}